# Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*.backup

# Generated certificates
*.pem
*.csr
*.p12

# Ansible retry files
*.retry

# Files which will be regularly overwritten by Terraform and their changes should be ignored
ansible/ansible.cfg
/ssh.cfg
ansible/hosts/ec2.ini
ansible/group_vars/all/vars.yml
cert/kubernetes-csr.json
