{{ admin_password }},{{ admin_username }},{{ admin_username }}
{{ scheduler_password }},{{ scheduler_username }},{{ scheduler_username }}
{{ kubelet_password }},{{ kubelet_username }},{{ kubelet_username }}
