kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: influxdb-volume
  namespace: kube-system
  annotations:
    volume.beta.kubernetes.io/storage-class: ssd-{{ aws_availability_zone }}
  labels:
    k8s-app: influxGrafana
    kubernetes.io/cluster-service: "true"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
