kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: grafana-volume
  annotations:
    - volume.beta.kubernetes.io/storage-class: ssd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
